<aside class="left-sidebar">

    <nav class="sidebar-nav">
        <!-- Loader 6 -->


        <ul id="sidebarnav">
            <!-- First level menu -->
            <li class="sidebar-item">
                <a class="sidebar-link"><i class="pi pi-home"></i></a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"><i class="pi pi-th-large" [routerLink]="['/admin/pendingapproval']"></i></a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"><i class="pi pi-bell" [routerLink]="['/admin/approval']"></i></a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"><i class="pi pi-chart-bar"></i></a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"><i class="pi pi-desktop"></i></a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link"><i class="pi pi-user"></i></a>
            </li>
        </ul>
    </nav>

</aside>